*.csv
*.json
*.pdf
*.twbx
*.xlsx

Tutorials/relational_sql/covid19.db
Tutorials/rename_photo/all_data
Tutorials/rename_photo/all_data_copy
Tutorials/rename_photo/Output
Tutorials/hotels/Taninthahyi_files
*.DS_Store

# Ignore folders from 2021
2021_code/data_viz/__pycache__
2021_code/data_viz/assets
2021_code/data_viz/env
2021_code/json
2021_code/scraping/env

# Ignore folders from 2022
2022_code/test.db
2022_code/__pycache__
2022_code/environment
2022_code/html
./environment

